.credits {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.credits::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #00000050;
}
.start-card {
  margin-top: 7rem;
}
.v-card {
  margin-inline: 3rem;
  margin-bottom: 2rem;
  width: 100vw;
  padding: 1rem;
  background-color: #e487bc70;
  color: #ffe2f2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.v-card .v-card-subtitle {
  margin: 1rem 1rem 0;
}
