@import url('github-markdown-css/github-markdown.css');

.download {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex;
}

.download::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: #00000050;

}

.download-branch-chip {
  background-color: #ff90cf30;
  font-weight: 600;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.download-latest-card {
  margin-top: 7rem;
  margin-inline: 3rem;
  width: 100vw;
  padding: 1rem;
  background-color: #e487bc70;
  color: #ffe2f2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.download-latest-card .v-card-subtitle {
  margin: 1rem 1rem 0;
}

.download-latest-card .download-version-mark {
  font-size: medium;
  font-weight: 600;
  color: #ffe2f2 !important;
}

.download-assets {
  padding: 0.3rem;
  margin-top: 0.6rem;
  border-radius: 10px;
  background-color: #55324670;
}

.download-assets .v-list-item {
  background-color: #30193095;
  margin-block: 0.3rem;
  margin-inline: 0.6rem;
  border-radius: 10px;
}

.download-assets .span {
  margin-left: 1.3rem;
  font-size: smaller;
  color: gray;
}

.download-readme {
  padding: 1.3rem;
  border-radius: 10px;
  background-color: #55324670;
}

.download-assets .download-assets-title {
  margin: 1rem 1rem 0;
}

.sourcecode-assets {
  padding: 0.3rem;
  margin-top: 0.6rem;
  border-radius: 10px;
  background-color: #55324670;
  height: 4rem
}

.sourcecode-assets .v-btn {
  background-color: #30193095;
  margin-inline: 0.7rem;
  margin-right: -0.4rem;
  border-radius: 10px;
  float: inline-end;
  margin-top: -0.4rem;
}

.sourcecode-assets .span {
  margin-left: 1.3rem;
  font-size: smaller;
  color: gray;
}

.sourcecode-assets .sourcecode-assets-title {
  margin: 1rem 1rem 0;
}


.markdown-body {
  background-color: #00000000;
}

.markdown-body * {
  border-color: #ffe2f2 !important;
}

.markdown-body span,
strong,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffe2f2 !important;
}

.download-old-card {
  margin-block: 1rem;
  margin-inline: 3rem;
  width: 100vw;
  padding: 1rem;
  background-color: #e487bc70;
  color: #ffe2f2;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.download-old-card .v-select {
  float: right;
  width: 12rem;
  height: 3.4rem;
  border-radius: 10px;
  background-color: #55324670;
}

.download-old-card-btn {
  background-color: #55324670;
  border-radius: 10px;
  height: 3.4rem !important;
  width: 3.4rem !important;
  margin-bottom: 0.3rem;
}

.fix-height {
  content: '';
  clear: both;
  height: 0;
}

@media screen and (max-width: 600px) {
  .download-latest-card {
    margin-inline: 1rem;
    padding: 0.3rem 0;
  }

  .download-old-card {
    margin-inline: 1rem;
    padding: 0.3rem 0;
  }
}