h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.v-app-bar * {
  color: #ffe2f2;
}

main {
  min-height: 100vh;
  background-image: url(https://api.imlazy.ink/img);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: rgb(255, 146, 164);
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: pink;
}

* {
  transition: 0.3s;
}