h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.v-app-bar * {
  color: #ffe2f2;
}

main {
  min-height: 100vh;
  background-image: url(https://api.imlazy.ink/img);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: rgb(255, 146, 164);
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: pink;
}
.v-footer {
  flex-flow: column;
}
.footer-box {
  margin: 1rem;
  background-color: #3f3f3f70;
  padding: 0.75rem 2rem;
  color: #ffe2f2;
  min-width: 20rem;
  border-radius: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.v-card {
  height: -5rem;
}

* {
  transition: 0.3s;
}