h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.v-app-bar * {
  color: #ffe2f2;
}

main {
  background-image: url(https://api.imlazy.ink/img);
  background-repeat: no-repeat;
  background-size: cover;
}
